body {
  background: #ebebeb;
  color: #333333;
  margin-top: 5rem;
  font-family: 'Arvo', serif;
}

.navbar {
  background-color: #800000;
}

.navbar-brand {
  font-weight: 700;
}

.dropdown-item:hover {
  background-color: #ebebeb;
}

.dropdown-item:active {
  background-color: #800000;
}

.main-body {
  margin-top: 100px;
  margin-bottom: 60px;
}

.content-section {
  background-color:#ffffff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  padding: 25px;
  margin-bottom: 50px;
}

.content-title {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 10px;
  margin-bottom: 24px;
  width: 90%;
}

.title-link {
  color: #333333;
}

.content-section:hover .content-title .title-link {
  color: #3f92eb;
}

.title-link:hover {
  color: #007bff !important;
}

.profile-title {
  display: inline-block;
}

.profile-button {
  margin-left: 20px;
  vertical-align: top;
  padding: .23rem .65rem;
}

.sub-profile-button {
  margin-left: 15px;
  font-size: smaller;
  vertical-align: top;
  padding: .2rem .6rem;
}

.inline-row-buttons a {
  color: #333333;
}

.inline-row-buttons a.edit-link {
  color: #17a2b8;
}

.inline-row-buttons a.delete-link {
  color: #ff0000;
}

.inline-row-buttons a.edit-link:hover {
  color: #138496;
}

.inline-row-buttons a.delete-link:hover {
  color: #c82333;
}

.content-table {
  width: 90%;
}

.data-title {
  font-weight: 700;
  margin-right: 5px;
}

.data-content {
  display: inline-block;
}

.profile-list {
  padding-inline-start: 5px;
}

.profile-list-item {
  list-style: none;
  margin: 0.5rem 0;
}

.profile-list-item::before {
  content: "\25B9";
  margin-right: 10px;
}

.btn-outline-custom {
  color: #800000;
  border-color: #800000;
}

.btn-outline-custom:hover {
  color: #ffffff;
  background-color:#800000;
}

.btn-custom {
  color: #ffffff;
  background-color:#800000;
}

.btn-custom:hover {
  color: #ffffff;
  background-color: #6d0000;
}
