body {
  background: #ebebeb;
  color: #333333;
  margin-top: 5rem;
  font-family: 'Arvo', serif;
}

.navbar {
  background-color: #800000;
}

.navbar-brand {
  font-weight: 700;
}

.dropdown-item:hover {
  background-color: #ebebeb;
}

.dropdown-item:active {
  background-color: #800000;
}

.main-body {
  margin-top: 100px;
  margin-bottom: 60px;
}

.content-section {
  background-color:#ffffff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 50px;
}

.btn-outline-custom {
  color: #800000;
  border-color: #800000;
}

.btn-outline-custom:hover {
  color: #ffffff;
  background-color:#800000;
}

.btn-custom {
  color: #ffffff;
  background-color:#800000;
}

.btn-custom:hover {
  color: #ffffff;
  background-color: #6d0000;
}