{% extends "school/content.html" %}
{% load crispy_forms_tags %}

{% block title %}
- Register Student
{% endblock title %}

{% block content %}
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Register Student</legend>
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        {{ student_form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-custom" type="submit">Confirm</button>
      </div>
    </form>
    <div class="border-top pt-2">
      <small class="text-muted">
        Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
      </small>
    </div>
    <script>
      $(function () {
        $(".date-picker").datepicker({
          format:'yyyy/mm/dd',
        });
      });
    </script>
  </div>
{% endblock content %}