{% extends "school/course.html" %}

{% block title %}
- Assignment Detail
{% endblock title %}

{% block content %}
<h1 class="mb-4">{{assignment.course.course_name}}</h1>
  {% if not assignment.content %}
    <p class="lead">Assignment content has not been posted</p>
  {% else %}
    <h2 class="mb-4">Assignment {{assignment.assignment_number}}</h2>
    <article class="content-section">
    <p>
      <p>
        <iframe src="{{ assignment.content.url }}" width="100%" height="780px"></iframe>
      </p>
    </p>
    {% if user.student %}
      {% if submission %}
        <p class="mt-4">Current submission: <a href="{{ submission.content.url }}">Download File</a></p>
      {% endif %}

      {% if not assignment.is_past_due %}
        <a class="btn btn-primary" href="{% url 'add-submission' view.kwargs.course_id assignment.id %}"><i class="fas fa-plus mr-2"></i>Submit Assignment</a>
      {% endif %}
      
      {% if submission.grade_report %}
        <a class="btn btn-primary ml-2" href="{% url 'submission-detail' view.kwargs.course_id assignment.id  %}">View Feedback</a>
      {% endif %}
    {% endif %}
    {% if user.instructor %}
      <a class="btn btn-outline-info" href="{% url 'assignment-list' view.kwargs.course_id %}">Back</a>
      <a class="btn btn-primary" href="{% url 'view-submission' view.kwargs.course_id assignment.id %}">View Submissions</a>
    {% endif %}
    </article>
  {% endif %}
{% endblock content %}
