{% extends "school/content.html" %}

{% block title %}
- Dashboard
{% endblock title %}

{% block content %}
  <h1 class="mb-4">Dashboard</h1>
  {% if not courses %}
    <p class="lead">You are not part of any courses</p>
  {% endif %}

  {% if courses.enrolled_courses %}
    <h2 class="mb-4">Enrolled Courses</h2>
    {% for course in courses.enrolled_courses %}
      <article class="content-section">
        <h3 class="content-title"><a class="title-link" href="{% url 'course-detail' course.id %}">{{ course.course_name }}</a></h3>
        <p>
          <span class="data-title">Instructor:</span>
          <span class="data-content"><a href="{% url 'profile' course.instructor.user %}">{{ course.instructor }}</a></span>
        </p>
        <p>
          <span class="data-title">Time:</span>
          <span class="data-content">{{ course.get_time_display }}</span>
        </p>
        <p>
          <span class="data-title">Day:</span>
          <span class="data-content">{{ course.get_day_display }}</span>
        </p>
        <a class="btn btn-primary" href="{% url 'final-grade' course.id %}">View Final Grade</a>
      </article>
    {% endfor %}
  {% endif %}

  {% if courses.assisted_courses %}
    <h2 class="mb-4">Assisted Courses</h2>
    {% for course in courses.assisted_courses %}
      <article class="content-section">
        <h3 class="content-title"><a class="title-link" href="{% url 'course-detail' course.id %}">{{ course.course_name }}</a></h3>
        <p>
          <span class="data-title">Instructor:</span>
          <span class="data-content"><a href="{% url 'profile' course.instructor.user %}">{{ course.instructor }}</a></span>
        </p>
        <p>
          <span class="data-title">Time:</span>
          <span class="data-content">{{ course.get_time_display }}</span>
        </p>
        <p>
          <span class="data-title">Day:</span>
          <span class="data-content">{{ course.get_day_display }}</span>
        </p>
      </article>
    {% endfor %}
  {% endif %}

  {% if courses.taught_courses %}
      <h2 class=mb-4>Taught Courses</h2>
      {% for course in courses.taught_courses %}
        <article class="content-section">
          <h3 class="content-title"><a class="title-link" href="{% url 'course-detail' course.id %}">{{ course.course_name }}</a></h3>
          <p>
            <span class="data-title">Instructor:</span>
            <span class="data-content"><a href="{% url 'profile' course.instructor.user %}">{{ course.instructor }}</a></span>
          </p>
          <p>
            <span class="data-title">Time:</span>
            <span class="data-content">{{ course.get_time_display }}</span>
          </p>
          <p>
            <span class="data-title">Day:</span>
            <span class="data-content">{{ course.get_day_display }}</span>
          </p>
        </article>
      {% endfor %}
  {% endif %}
{% endblock content %}