{% extends "school/course.html" %}

{% block title %}
- Lecture List
{% endblock title %}

{% block content %}
<h1 class="mb-4">Lectures</h1>
  {% if not lectures %}
    <p class="lead">Lectures have not been posted</p>
  {% endif %}

  {% if lectures.enrolled_lectures %}
    <h2 class="mb-4">Lectures</h2>
    {% for lecture in lectures.enrolled_lectures %}
      <article class="content-section">
        <h3 class="content-title"><a class="title-link" href="#"></a></h3>
        <p>
          <span class="data-title">Title:</span>
          <span class="data-content">{{ lecture.lecture_title }}</span>
        </p>
        <p>
          <span class="data-title">Number:</span>
          <span class="data-content">{{ lecture.lecture_number }}</span>
        </p>
        <p>
          <span class="data-title">Date Posted:</span>
          <span class="data-content">{{ lecture.due_date }}</span>
        </p>
      </article>
    {% endfor %}
  {% endif %}
{% endblock content %}