{% extends "school/course.html" %}

{% block title %}
- Lecture List
{% endblock title %}

{% block content %}
<h1 class="mb-4">{{lectures.course.course_name}}</h1>
  {% if not lectures.lecture_list %}
    <p class="lead">Lectures have not been posted</p>
    {% else %}
    <h2 class="mb-4">Lectures</h2>
    {% for lecture in lectures.lecture_list %}
      <article class="content-section">
        <h3 class="content-title"><a class="title-link" href="{% url 'lecture-detail' view.kwargs.course_id lecture.id %}">{{ lecture.lecture_title }}</a></h3>
        <p>
          <span class="data-title">Lecture Number:</span>
          <span class="data-content">{{ lecture.lecture_number }}</span>
        </p>
        <p>
          <span class="data-title">Due Date:</span>
          <span class="data-content">{{ lecture.due_date }}</span>
        </p>
        {% if lectures.course.instructor == lectures.instructor %}
        <span class="inline-row-buttons">
          <a class="edit-link" href="{% url 'update-lecture' view.kwargs.course_id lecture.id %}"><i class="fas fa-pencil-alt ml-2"></i></a>
          <a class="delete-link" href="{% url 'delete-lecture' view.kwargs.course_id lecture.id %}"><i class="fas fa-trash-alt ml-2"></i></a>
        </span>
        {% endif %}
      </article>
    {% endfor %}
  {% endif %}
  {% if lectures.course.instructor == lectures.instructor %}
    <a class="btn btn-primary sub-profile-button" href="{% url 'create-lecture' view.kwargs.course_id %}"><i class="fas fa-plus mr-2"></i>Add Lecture</a>
  {% endif %}
  {% endblock content %}