{% extends "school/course.html" %}

{% block title %}
- Enrolled Students
{% endblock title %}

{% block content %}
<h1 class="mb-4">{{ student_list.course.course_name }}</h1>
  <h2 class="mb-4">Teaching Assistants</h2>
  {% if not student_list.assisting_students %}
    <p class="lead mt-3 mb-3 p-4">No TAs for this course yet</p>
  {% else %}
    {% for student in student_list.assisting_students %}
      <article class="content-section">
        <p>
          <span class="data-title">Student Name:</span>
          <span class="data-content">
            <a href="{% url 'profile' student.user %}">{{ student.user.first_name }} {{ student.user.last_name }}</a>
          </span>
        </p>
        <p>
            <span class="data-title">Student ID:</span>
            <span class="data-content">{{ student.student_id_no }}</span>
        </p>
        <p>
            <span class="data-title">Email:</span>
            <span class="data-content">{{ student.user.email}}</span>
        </p>
      </article>
    {% endfor %}
  {% endif %}

  <h2 class="mb-4">Enrolled Students</h2>
  {% if not student_list.enrolled_students %}
    <p class="lead mt-3 mb-3 p-4">No student has been enrolled in this course yet</p>
  {% else %}
    {% for student in student_list.enrolled_students %}
      <article class="content-section">
        <p>
          <span class="data-title">Student Name:</span>
          <span class="data-content">
            <a href="{% url 'profile' student.user %}">{{ student.user.first_name }} {{ student.user.last_name }}</a>
          </span>
        </p>
        <p>
            <span class="data-title">Student ID:</span>
            <span class="data-content">{{ student.student_id_no }}</span>
        </p>
        <p>
            <span class="data-title">Email:</span>
            <span class="data-content">{{ student.user.email}}</span>
        </p>
      </article>
    {% endfor %}
  {% endif %}
{% endblock content %}