{% extends "school/course.html" %}

{% block title %}
- Submissions
{% endblock title %}

{% block content %}
<h1 class="mb-4">Assignment {{submissions.assignment.assignment_number}} Submissions</h1>
    {% if not submissions.submission_list %}
        <p class="lead">There are no submissions at the moment</p>
        {% else %}
        {% for submission in submissions.submission_list %}
        <article class="content-section">
            <p>
                <span class="data-title">Student:</span>
                <span class="data-content">{{submission.student.user.first_name}} {{submission.student.user.last_name}}</span>
            </p>
            <p>
                <span class="data-title">File:</span>
                <a href="{{ submission.content.url }}">assignment {{submission.assignment.assignment_number}}</a>
            </p>
            <p>
                <span class="data-title">Submitted On:</span>
                <span class="data-content">{{submission.submission_time}}</span>
            </p>
            {% if submission.grade_report %}
            <p>
                <span class="data-title">Grade:</span>
                <span class="data-content">{{ submission.grade_report }}</span>
            </p>
            {% endif %}
            {% if submission.feedback %}
            <p>
                <span class="data-title">Feedback:</span>
                <span class="data-content">{{ submission.feedback }}</span>
            </p>
            {% endif %}

            {% if not submission.grade_report %}
                <a class="btn btn-primary" href="{% url 'update-feedback' view.kwargs.course_id submission.assignment.id submission.id %}">Add Grade</a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'update-feedback' view.kwargs.course_id submission.assignment.id submission.id %}">Update Grade</a>
            {% endif %}
        </article>
        {% endfor %}
    {% endif %}
{% endblock content %}